@import "./variables.scss";

.content-center {
  text-align: center;
}

.cart__title {
  @include flex(flex, row, flex-start, center);
  padding: 25px 135px;
  margin: 0 auto;
  img {
    margin-right: 14px;
  }
  h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: $color-main;
  }
}
.cart__wrap {
  background-color: $color-white;
}
.cart__container {
  padding: 40px 223px;
  .content-start {
    padding-left: 0;
  }
  .cart__item-td {
    border-top: unset;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .cart__header {
    th {
      color: $color-main;
      font-weight: 600;
      border-top: unset;
      border-bottom: 1px solid $color-border-1;
    }
  }
}

.cart__item {
  border-bottom: 1px solid $color-border-1;
  .td-delete {
    text-align: right;
    padding-right: unset;
    button {
      color: #979292;
      border: 1px solid #27ae60;
      border-radius: unset;
      box-sizing: border-box;
      background-color: $color-white;
      width: 100px;
      height: 40px;
      &:active {
        background-color: $color-main;
        color: $color-white;
        transition: all 0.2s;
      }
      &:focus {
        box-shadow: unset;
      }
    }
  }

  &-color {
    .rounded-circle {
      display: inline-block;
      width: 27px;
      height: 27px;
    }
  }
  &-product {
    @include flex(flex, row, flex-start, center);
  }
  &-img {
    margin-right: 70px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  &-name {
    h6 {
      font-weight: 600;
      line-height: 22px;
    }
    span {
      line-height: 22px;
    }
  }
}
.cart__footer {
  border-bottom: 1px solid $color-border-1;
  padding-bottom: 20px;
  @include flex(flex, row, space-between, flex-end);
  &-total {
    @include flex(flex, row, space-between, flex-start);
    flex-basis: 25%;
  }
  .cart__footer-td {
    vertical-align: top;
  }
}
.cart__saleOff {
  @include flex(flex, row, flex-start, flex-end);
  vertical-align: bottom;
  button {
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-main;
    border-radius: unset;
    width: 160px;
    height: 40px;
  }
}
.cart__discount {
  margin-right: 24px;
  &-title {
    @include flex(flex, row, space-between, center);
    color: $color-main;
    margin-bottom: 12px;
    h5 {
      font-size: 18px;
      font-weight: 600;
    }
    a {
      font-size: 14px;
      color: $color-main;
    }
  }
  input {
    width: 300px;
    max-width: 100%;
    height: 40px;
    border: 1px solid #75c9be;
    box-sizing: border-box;
  }
}
.cart__total {
  font-size: 18px;
  text-align: center;
  h6 {
    margin-bottom: 8px;
  }
  span {
    font-size: 12px;
  }
  &-money {
    text-align: right;
  }
}
.cart__action {
  @include flex(flex, row, space-between, stretch);
  height: 60px;
  margin-top: calc(90px - 1em);
  margin-bottom: 155px;
  .cart__btn-shopping {
    color: #3d3b3b;
    text-transform: uppercase;
    border: 1px solid $color-main;
    background-color: $color-white;
    border-radius: unset;
    width: 200px;
    @include flex(flex, row, center, center);
  }
  .cart__btn-payment {
    text-transform: uppercase;
    color: $color-white;
    font-size: 24px;
    background-color: $color-main;
    border-radius: unset;
    width: 430px;
    @include flex(flex, row, center, center);
  }
}

@media screen and (max-width: 1400px) {
  .cart__title {
    padding: 25px 66px;
  }
  .cart__container {
    padding: 40px 55px;
  }
  .cart__item {
    &-img {
      margin-right: 28px;
    }
  }
  .cart__footer {
    &-total {
      flex-basis: 35%;
    }
  }
  .cart__discount {
    input {
      max-width: 243px;
    }
  }
}
@media screen and (max-width: 991.9px) {
  .cart__title {
    padding: 25px 60px;
  }
  .cart__item-none {
    display: none;
  }
  .cart__item-name {
    @include flex(flex, column, space-between, flex-start);
  }
  .cart__footer {
    flex-direction: column-reverse;
    padding-bottom: 40px;
    &-total {
      flex-basis: 100%;
      width: 100%;
      border-bottom: 1px solid $color-border-1;
      padding-bottom: 42px;
    }
  }
  .cart__item {
    .content-right-lg {
      padding-right: 0;
      @include flex(flex, column, flex-end, flex-end);
      button {
        color: #979292;
        font-size: 14px;
        background-color: $color-white;
        border-radius: unset;

        &:hover {
          color: $color-main;
          border: 0.5px solid $color-main;
          background-color: $color-white;
        }
        &:focus {
          box-shadow: unset;
        }
      }
    }
  }
  .cart__total-title {
    text-align: left;
  }
  .cart__saleOff {
    justify-content: flex-start;
    width: 100%;
    padding-top: 30px;
  }
  .cart__action {
    margin-bottom: 65px;
    .cart__btn-payment {
      width: 248px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cart__title {
    // padding: 25px 46px;
  }

  .cart__container {
    padding: 25px 30px;
  }
}
@media screen and (max-width: 576px) {
  .cart__title {
    padding: 12px 26px;
  }
}
