.payment {
  background-color: #ffffff;
  padding-bottom: 200px;
}

.payment__wrap {
  padding: 0 205px;
}

.payment__title {
  font-size: 16px;
  font-weight: 600;
  color: #27ae60;
  margin-bottom: 30px;
  margin-top: 30px;
}

.payment__content {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.payment__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.payment__content-wrap .custom-checkbox {
  margin-right: 20px;
}

.method-shipping {
  border-bottom: 1px solid #c4c4c4;
}

.shipping-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shipping-content label {
  font-weight: 600;
  color: #6d6b6b;
}

.shipping-content span {
  margin-left: 30px;
}

.text-color-main {
  color: #27ae60;
  font-weight: 600;
}

.styled-checkbox {
  position: absolute;
  display: none;
}

.styled-checkbox + .shipping-content label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + .shipping-content label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #27ae60;
}

.styled-checkbox:checked + .shipping-content label:before {
  background: #ffffff;
}

.styled-checkbox:disabled + .shipping-content label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + .shipping-content label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + .shipping-content label:after {
  font-family: "FontAwesome";
  content: "\f0c8";
  color: #27ae60;
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 2px;
  background: transparent;
}

.form-address .row {
  margin-bottom: 10px;
}

.form-address input {
  width: 100%;
  border-radius: unset;
}

.form-address input::-webkit-input-placeholder {
  color: #979292;
  font-size: 13px;
}

.form-address input:-ms-input-placeholder {
  color: #979292;
  font-size: 13px;
}

.form-address input::-ms-input-placeholder {
  color: #979292;
  font-size: 13px;
}

.form-address input::placeholder {
  color: #979292;
  font-size: 13px;
}

.address-default label {
  font-weight: 400;
  font-size: 13px;
}

.payment-newAddress__title {
  font-size: 18px;
}

.payment-newAddress__action {
  margin-top: 30px;
}

.payment-newAddress__action button {
  font-size: 14px;
  font-weight: 600;
  color: #3d3b3b;
  border: 1px solid #27ae60;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: unset;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.payment-newAddress__action button:first-child {
  margin-right: 30px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 20px;
  padding-top: 25px;
}

.cart-item .rounded-circle {
  display: inline-block;
  width: 27px;
  height: 27px;
}

.cart-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-item-info h6 {
  font-weight: 600;
}

.cart-item img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-item-money {
  color: #27ae60;
  font-weight: 500;
  font-size: 14px;
}

.btn-main, .btn-buy {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  background-color: #27ae60;
}

.total-money {
  padding-top: 30px;
  margin-bottom: 50px;
}

.total-money .cart__total-title {
  text-align: left;
}

.btn-buy {
  max-width: 470px;
  width: 100%;
}

.cart__footer-ckb .label-ckb {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1400px) {
  .payment__wrap {
    padding: 0 40px;
  }
}

@media screen and (max-width: 991.9px) {
  .cart-item-destop {
    display: none;
  }
  .cart-item__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cart-item__left img {
    margin-right: 14px;
  }
  .cart-item__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .cart-item__right .rounded-circle {
    margin-bottom: 26px;
  }
  .total-money {
    padding-top: 0;
  }
  .cart__footer-total {
    border-top: unset;
    border-bottom: unset;
  }
}

@media screen and (max-width: 768px) {
  .btn-buy {
    max-width: 100%;
  }
  .form-address {
    padding-bottom: 38px;
    border-bottom: 1px solid #c4c4c4;
  }
}

@media screen and (max-width: 576px) {
  .payment__wrap {
    padding: 0 6px;
  }
}
/*# sourceMappingURL=checkout.css.map */