.fullWidth-opacity {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.display-opacity {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1040;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.products {
  background-color: #ffffff;
  padding: 0 120px;
}

.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.products__header h3 {
  font-size: 20px;
  color: #27ae60;
  font-weight: bold;
  text-transform: uppercase;
}

.products__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  position: relative;
}

.products__sort h6 {
  font-weight: 600;
}

.products__sort-content {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1;
  background: #ffffff;
  text-align: right;
  padding: 12px 0;
  border-radius: 0 0 0 50px;
}

.products__sort-content li {
  padding: 8px 0;
}

.products__sort .sort-icon {
  margin-right: 25px;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__container .active {
  left: 0;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}

.products__all {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 30px;
}

.products__all__wrap {
  padding: 18px 18px 22px;
  position: relative;
}

.products__all__wrap:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.products__all-sale {
  left: 18px !important;
  top: 18px !important;
}

.products__all__item {
  margin-bottom: 55px;
}

.products__sidenav {
  width: 310px;
}

.products__sidenav__block {
  border-bottom: 0.5px solid #cacaca;
  margin-bottom: 16px;
}

.products__sidenav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6d6b6b;
  padding-bottom: 12px;
}

.products__sidenav-title h6 {
  font-weight: 600;
}

.products__sidenav-title i {
  cursor: pointer;
}

.products__sidenav-content {
  padding-left: 20px;
  padding-bottom: 12px;
}

.products__sidenav-color-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__sidenav-color-items span,
.products__sidenav-color-items p {
  margin-bottom: 8px;
  font-size: 14px;
}

.products__sidenav-color-items .review-star {
  margin-bottom: 0;
}

.products__sidenav-color-item {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #e7c59c;
  margin-right: 5px;
}

.products__sidenav-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.products__sidenav-price h6 {
  color: #27ae60;
  font-weight: 600;
}

.products__sidenav-price button {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #27ae60;
  border: unset;
  border-radius: unset;
}

.products__sidenav-price__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(151, 146, 146, 0.3);
  margin-top: 14px;
  margin-bottom: 20px;
}

.products__sidenav-price__form .form-control {
  border-radius: unset;
  border: 0.5px solid #cacaca;
  background: #fdfdfd;
  color: rgba(151, 146, 146, 0.3);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.products__sidenav-price__form .form-control::-webkit-input-placeholder {
  color: rgba(151, 146, 146, 0.3);
  font-size: 14px;
}

.products__sidenav-price__form .form-control:-ms-input-placeholder {
  color: rgba(151, 146, 146, 0.3);
  font-size: 14px;
}

.products__sidenav-price__form .form-control::-ms-input-placeholder {
  color: rgba(151, 146, 146, 0.3);
  font-size: 14px;
}

.products__sidenav-price__form .form-control::placeholder {
  color: rgba(151, 146, 146, 0.3);
  font-size: 14px;
}

.products__sidenav-price__form i {
  margin: 0 16px;
}

.products .product-filter-star {
  margin-bottom: 16px;
}

.products .product-filter-star:last-child {
  margin-bottom: 0;
}

.products .product-filter-star span {
  font-size: 14px;
  font-weight: normal;
  color: #6d6b6b;
}

.products .product-filter-rating {
  margin-right: 18px;
}

.products .products__all .product-new {
  width: unset;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-item {
  color: #505050;
}

.pagination .page-link {
  border: unset;
  color: #505050;
  font-size: 14px;
}

.pagination .page-link:hover {
  background-color: transparent;
  color: #27ae60;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media screen and (min-width: 1900px) {
  .products__all__wrap {
    padding: 8px;
  }
  .products__all__wrap .product-new {
    width: unset;
  }
  .products__all__item {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .products__all-sale {
    top: 8px !important;
    left: 8px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1368px) {
  .products {
    padding: 0px 45px;
  }
  .products .product-filter {
    width: 220px;
  }
  .products .product-filter .product-color {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .products .product-filter-star {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
  .products__sidenav-price__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .products__sidenav-color-items span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .products {
    padding: 0px 55px;
  }
}

@media screen and (max-width: 992px) {
  .product-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: -394px;
    background-color: #ffffff;
    z-index: 1050;
    width: 394px;
    padding: 0 40px;
    -webkit-transition: left 0.2s linear;
    transition: left 0.2s linear;
  }
  .product-filter__name {
    font-size: 20px;
    color: #27ae60;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 64px;
  }
  .products__all {
    padding-left: unset;
  }
  .products {
    padding: 0px 45px;
  }
}

@media screen and (max-width: 576px) {
  .products {
    padding: 0px 20px;
  }
  .products .product-filter {
    width: 280px;
  }
  .products .product-filter__name {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .products .product-filter-rating {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=product.css.map */